@use 'reset.css';

body {  
    font-family: 'Rubik', sans-serif;
}

h1 {
    margin: 0 0 10px 0;
}


input {
    padding: 0 20px;
    height: 50px;
    width: 225px;
    border-radius: 15px;
    border: none;
    font-size: 0.7em;
    color: black;
}

input:focus {
    outline: none;
}

.submit-button:hover {
    cursor: pointer;
}
.submit-button {
    height: 50px;
    margin: 0;
    margin-left: -15px;
    width: 50px;
    border: none;
    background-color: black;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    img {
        height: 50%;
        margin: 0;
    }
}
.grid-container {
    min-width: 300px;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 1fr 1fr 1fr 1fr 0.25fr 0.25fr;
    grid-template-rows: 0.25fr 0.25fr 1fr 1fr 1fr 1fr 1fr 1fr 0.25fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . .";
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start:3;
    grid-column-end:7;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
  }

  .form {
      margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    grid-column-start:3;
    grid-column-end:7;
    grid-row-start: 3;
    grid-row-end: 4;
    z-index: 99;

}

  .background-pattern  {

    grid-column-start: 1;
    grid-column-end:9;
    grid-row-start: 1;
    grid-row-end: 6;
    background-image: url(../images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
    
  .info-panel {
      background-color: white;
      border-radius: 15px;
      min-height: 150px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    grid-column-start: 3;
    grid-column-end:7;
    grid-row-start: 4;
    grid-row-end: 7;
    z-index: 99;

    
  }

    .warning {
        border: red 2px solid;
    }

    .hidden {
        display: none;
    }

    .warning-text {
        color: red;
        margin:0 0 10px 0;
        background-color: white;
        border-radius: 10px;
        padding: 10px 20px;
    }

  .map {
    grid-column-start: 1;
    grid-column-end:9;
    grid-row-start: 5;
    grid-row-end: 9;
    background-color: blue;
    z-index: 1;

  }



  h1 {
      color: white;
      font-size: 1.5em;
      font-weight: 600;
  }

      .info-container {
          text-align: center;
      }
.info-label {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color:hsl(0, 0%, 59%);
      }
 .info {
     color: hsl(0, 0%, 17%);
     font-weight: 600;
     margin-top: 10px;
     font-size: 1.2em;

 }
.attribution { 
    font-size: 11px; 
    text-align: center;
    grid-column-start: 1;
    grid-column-end:9;
    grid-row-start: 9;
    grid-row-end: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (min-width: 768px) {
    .main-info {
        background-color: turquoise;
        margin: 15px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column-start: 3;
        grid-column-end:7;
        grid-row-start: 2;
        grid-row-end: 6;
        z-index: 99;
        
      }


      .info-panel {
        background-color: white;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 15px;
        
          }



          .info-container:nth-last-child(n+2) {
              border-right: grey solid 1px;
          }

          .info-container {
            text-align: left;
            height: 75px;
            padding: 20px;
        }

}


@media only screen and (min-width: 1024px) {

 .info-container {
            min-width: 200px;
        }

        .form {
            margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          
          grid-column-start:3;
          grid-column-end:7;
          grid-row-start: 3;
          grid-row-end: 4;
          z-index: 99;
      
      }

      input {
        padding: 0 20px;
        height: 70px;
        width: 325px;
        border-radius: 15px;
        border: none;
        font-size: 1em;
        color: black;
    }

    .submit-button {
        height: 70px;
       
    }

}